 body {
background-color: black;
text-align: center;
/*font: black;*/
background-color: var(--background-color, pink)
} 
 
 img {
height: 90px;
width: 80px;
}


.box{
position: relative;
display: inline-block; 
background-size: cover;
margin-bottom: 0px;
}
    
.box #text{
position: absolute;
z-index: 999;
margin: 0 auto;
left: 0;
right: 0;
top: 10%; 
text-align: center;
width: 60%;  
color: #ffffff;
    }

.collapse navbar-collapse {
     background-color: #D8FF00;
 }
 
.dental-logo {
 height: 700px;
 width: 950px;
}

/*.box #text{*/
/* color: black;*/
/*}*/

 h1 {
 color: white;
 margin-bottom: 110px;
 /*margin-top: 110px;*/
}
 
 h3 {
 color: white;
 margin-bottom: 10px;
 margin: 10px;
}

 p {
  color: white;
  margin-bottom: 65px;
 }
 
 li {
  color: white;
 }

 h4 {
  color: white;
 }
 
 .x-ray {
  height: 200px;
  width: 200px;
 }
 
 .laser {
  height: 200px;
  width: 200px;
 }
 
 .crown {
  height: 200px;
  width: 200px;
 }
 
 ul {
  color: white;
 }
 
 #txt {
  color: black;
 }
 
 .navbar-brand {
  padding: 10px;
  text-align: center;
 }
 
 .context {
  margin-top: 50px;
 }
 
 .col {
  margin-bottom: 500px;
 }
 
:root {
--div-background-color: red;
--text-color: black;
--div-padding: 20px;
--div-margin: 10px;
}

.child {
  background-color: var(--div-background-color);
  color: var(--text-color)
}

.one {
  --div-background-color: blue;
  --text-color: white;
}

.one-one {
  margin: var( --div-margin);
  padding: var(--div-padding);
}

.one-two {
  margin: var( --div-margin);
  padding: var(--div-padding);
}

.a {
 color: red;
}

